Flask==1.1.2
Flask-Mail==0.9.1
Flask-SocketIO==4.3.2
Flask-SQLAlchemy==2.4.4
gunicorn==19.9.0
h5py==2.10.0
Jinja2==2.11.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
numpy==1.18.5
opencv-python-headless==4.4.0.40
pandas==1.1.4
passlib==1.7.4
PyMySQL==0.10.1
scipy==1.5.4
tensorflow==2.3.1
Werkzeug==1.0.1
psycopg2==2.8.6
gevent==20.12.1
greenlet==0.4.17
eventlet==0.30.0
Pillow==4.2.1
